@page "/"
@rendermode InteractiveServer

@using BlazorForum.Components.Widgets
@using BlazorForum.Data
@inject PostagemServices Service

<PageTitle>Forum</PageTitle>
    
<h1>Forum</h1>

@foreach (var post in postagens)
{
    <PostagemItem postagem="post" />
}

@code
{
    List<Postagem> postagens = [];
    protected override async Task OnInitializedAsync()
    {
        await AtualizaPostagens();
    }

    private async Task AtualizaPostagens()
    {
        postagens = await Service.RetornaPostagens();
    }
    
}
